.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  .facet-container{
    width: 330px;
  }
  .right {
    float: right;
  }
  .left {
    float: left;
  }
  p {
    clear: both;
    padding-top: 1em;
  }
  .facet-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    background: #eee;
    padding: 5px;
    width: 143px;
    min-height: 1.5em;
    font-size: 0.85em;
  }
  .facet-list li {
    margin: 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px;
  }
  .facet-list li.placeholder {
    height: 1.2em
  }
  .facet {
    border: 1px solid #bbb;
    background-color: #fafafa;
    cursor: move;
  }
  .facet.ui-sortable-helper {
    opacity: 0.5;
  }
  .placeholder {
    border: 1px solid orange;
    background-color: #fffffd;
  }


